@import './Colors.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--DarkGray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--DarkGray);
}

.App-link {
  color: #61dafb;
}

body {
  background-color: var(--DarkGray);
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  color: var(--DarkBlue);
  font-size: 48px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.default-text {
  font-size: 18px;
  color: var(--LightBlue);
  text-align: center; 
  font-family: 'Arial', sans-serif; 
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.symbol-button {
  background-color: var(--LightGray); 
  color: white; 
  font-size: 16px; 
  padding: 10px 60px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.symbol-button:hover {
  background-color: var(--secondary-color);
}

.date-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.date-input-inline {
  width: 2.5ch; 
  padding: 5px;
  font-size: 16px;
  text-align: center;
  margin: 0 5px;
}

.year-input {
  width: 4.5ch; 
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.trade-log-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.trade-log-table {
  width: 100%;
  border-collapse: collapse;
}

.trade-log-table th, .trade-log-table td {
  padding: 12px;
  border: 1px solid var(--Black);
  text-align: center;
}

.trade-log-table th {
  background-color: var(--LightGray);
  font-weight: bold;
}

.trade-log-table tbody tr {
  background-color: var(--SkyBlue);
}

.trade-log-table tbody tr:hover {
  background-color: var(--SkyBlue);
}

.trade-log-table td {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}








