:root {
    --LightBlue: #3498db;
    --DarkBlue: #0051ff;
    --LightGray: #c6c6c6;
    --DarkGray: #4e4e4e;
    --Red: #ff0000;
    --Green: #00ff0f;
    --Black: #000000;
    --DarkerGray: #191919;
    --White: #fff3d7;
    --SkyBlue: #00d9ff;
  }